GAGARA_S3_SERVICE_TOKEN="your-secret-token"

GAGARA_S3_BUCKET="your-bucket"
GAGARA_S3_ACCESS_KEY_ID="your-access-key"
GAGARA_S3_SECRET_ACCESS_KEY="your-secret-key"
GAGARA_S3_ENDPOINT_URL="https://your-endpoint.example.com"

GAGARA_S3_DIR="gagara-s3"
GAGARA_S3_DEFAULT_CATALOG="catalogues/catalog.json"
